<p>Item: {{ data }}</p>
<p>Current amount: {{ amount }}</p>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form method="post" action="">
    {{ addremform.csrf_token }}
    {{ addremform.oem(value=data) }}
    {{ addremform.amount() }}
    {{ addremform.addsubmit() }}
    {{ addremform.remsubmit() }}
</form>